<template>
    <div style="height: 100%;">
        test
    </div>
</template>
<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";

  @Component
  export default class Message extends Vue {
    public success = true;
    public firstname = "Brice";
    public lastname = "Mabillard";
  }
</script>